/*!
 * avgrund 0.1
 * http://lab.hakim.se/avgrund
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 * Modified by Karan Kanwar
 */

html, 
body {
	height: 100%;
	overflow: hidden;
}
h1, 
h2 {
	font-size: 24px;
	font-family:'Roboto';
}
p{
	font-family:'Roboto';
	}


button {
	border: 0px;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 1px;

	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 15px;

	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
}
	button:hover {
		background: #91cd85;
	}
	button:active {
		background: #60895a;
	}
	button+button {
		margin-left: 5px;
	}